# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.spec

# Virtual envs
.venv/
env/
venv/

# Build artifacts / installers
build/
dist/
release/
*.exe
*.msi

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
